/*dreffe*/

div.toptext {
    margin-right: 5%;
}


/* menu  */
#home {
    position: fixed;
    top: 50px;
    z-index: 2;
}/*dreffe*/


/* inne na przyszłość? */
#main { }

#output {
    font-family: 'Piazzolla', serif;
    font-family: 'Roboto Slab', serif;
}
