/* sekcje */
#main { }
#cyr {
    height: 580px;  /*750px;*/
}
#jak { }
#things { }
#info { }

/* cyryl */
#output {
    font-family: 'Tinos', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
