/*dreffe*/

body {
    background-color: #555;
}

a:link {
    color: green;
}
a:visited {
    color: green;
}
a:active {
    color: red;
}
a:hover {
    color: pink;
}

/* Top title like strip  */

div.top {
    background-color: #063530;
    color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    /* border-style: solid; */
    /* font-family: 'Tinos', serif; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;    
    /* font-family: 'Monteserrat', sans-serif; */
}

h5 {
    margin-top: 0;    
}

div.toptext {
    text-align: center;
    vertical-align: right;
    width: auto;
    right: 30%;
    float: right;
    margin-right: 7%;
}

/* the mavigation bar on the left, settings for the general class  */

div.allme {
    position: fixed;
    top: 50px;
    z-index: 2;
    left: 2%;
}

div.menu {    
    background-color: #333;
    width: 120px;
    height: 80px;
    border-style: solid;
    border-color: #ff0066;
    left: 2%;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: #CACECE;
    white-space: normal;
    font-family: "Piazzolla", serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}
div.menu:hover {
    animation-name: col_ch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
div.menu:active {
    color: black;
}
a.menuLink:link {
    color: #000;
    text-decoration:none;
    font-weight:normal;
}
a.menuLink:visited {
    color: #000;
    text-decoration:none;
    font-weight:normal;
}

div.footer {
    background-color: #054E81;
    color: #fff;
    border-style: solid;
    padding: 4px;
    border-color: white;
    /* width: 247px; /\* 22%; *\/ */
    height: 60px;
    /* text-align: left; */
    vertical-align: left;
    line-height: 30px;
    /* border-style: solid; */
    /* font-family: 'Tinos', serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Monteserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    bottom: 30px;
    position: fixed;
    font-size: 75%;
    text-align: justify;
}

a.imejl {
    text-decoration: none;
}

a.imejl:link {
    color: white;        
}

a.imejl:visited {
    color: white;        
}

a.imejl:active {
    color: white;        
}

a.imejl:hover {
    color: pink;        
}

textarea {
    float: center;
}


div.vsjo {
    top: 120px;
    position: absolute;
    left: 27%;  
}


h2 {
    margin-top: 0;
}

/* setting for the divs containing any kind of information for the user  */
div.text {
    /* position: relative; */
    /* width: 65%; */
    /* widht: auto; */
    /* z-index: 15; */
    /* left: 35%; */
    /* top: 50px; */
    /* left: 27%; */
    width: 650px;
    /* height: 90%; */
    margin:  auto;  /* -100px 0 0 -150px; */
    background-color: #eee;
    border-style: inset;
    border-color: #0808ff;
    text-align: justify;
    padding: 10px;

    font-family: 'Piazzolla', serif;
}
/* for instance settings  */
h4 {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

#linek {
    font-family: 'Tinos', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.date_wrap {
    position: relative;
}
#datka {
    font-family: 'Monteserrat', sans-serif;
    position: relative;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 75%;
}

/* animations  */

/* changing th colour of the button like divs */
@keyframes col_ch{
    0% {
        background-color: #333;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: #EB360C;     
    }
}/*dreffe*/

/* Used  for hooverng over square imgs on the site */
/* makes them increase in size nine times for time */
/* set up in animation-duration */
@keyframes img_p {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 300px;
        height: 300px;
    }
}
/*dreffe*/


/* general: */

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    font-family: 'Roboto Slab', serif;
    border: 1px solid black;
}

pre {
    font-family: 'Menlo', sans-serif;
}
