/*dreffe*/

body {
    background-color: #555;
}

a:link {
    color: green;
}
a:visited {
    color: green;
}
a:active {
    color: red;
}
a:hover {
    color: pink;
}

/* Top title like strip  */

/* #xd { */
/*     font-family: 'Piazzolla', serif; */
/* } */

div.top {
    background-color: #063530;
    color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    /* border-style: solid; */
    /* font-family: 'Tinos', serif; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;            
}

h5 {
    margin-top: 0;    
}

div.toptext {
    text-align: center;
    vertical-align: right;
    width: auto;
    right: 30%;
    float: right;
    /* margin-right: 10%; */
}

/* the mavigation bar on the left, settings for the general class  */

div.menu {
    background-color: #333;
    width: 120px;
    height: 80px;
    border-style: solid;
    border-color: #ff0066;
    left: 2%;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: #CACECE;
    white-space: normal;
    font-family: "Roboto", serif;
}
div.menu:hover {
    animation-name: col_ch;
    animation-duration: 2s;
}
div.menu:active {
    color: black;
}
a.menuLink:link {
    color: #000;
    text-decoration:none;
    font-weight:normal;
}
a.menuLink:visited {
    color: #000;
    text-decoration:none;
    font-weight:normal;
}

div.footer {
    background-color: #054E81;
    color: #fff;
    border-style: solid;
    padding: 3px;
    border-color: white;
    width: 247px; /* 22%; */
    height: 60px;
    /* text-align: left; */
    vertical-align: left;
    line-height: 30px;
    /* border-style: solid; */
    /* font-family: 'Tinos', serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Monteserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    bottom: 30px;
    position: fixed;
    font-size: 75%;
    text-align: justify;
}

a.imejl {
    text-decoration: none;
}

a.imejl:link {
    color: white;        
}

a.imejl:visited {
    color: white;        
}

a.imejl:active {
    color: white;        
}

a.imejl:hover {
    color: pink;        
}

/* settings for each instance, messy  */
#home {
    position: fixed;
    top: 50px;
    z-index: 2;
}/*dreffe*/
textarea {
  float: center;
}
/* div.vsjo {

} */

h2 {
    margin-top: 0;
}

/* setting for the divs containing any kind of information for the user  */
div.text {
    position: absolute;
    width: 65%;
    /* z-index: 15; */
    /* left: 35%; */
    top: 20px;
    left: 27%;
    width: 650px;
    /* height: 90%; */
    margin:  auto;  /* -100px 0 0 -150px; */
    background-color: #eee;
    border-style: inset;
    border-color: #0808ff;
    text-align: justify;
    padding: 10px;
    font-family: 'Piazzolla', serif;
    /* margin-bottom: 0; */
}
/* for instance settings  */
h4 {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/* inne na przyszłość? */
#main {
    /* height: 780px; */
    top: 120px;
}
#kot {
    /* height: 750px;/\*750px;*\/ */
    top: 290px;
}
#jak {
    /* height: 360px; */
    top: 1000px;
}
#things {
    /* height: 120px; */
    top: 1190px;
}
#info {
    /* height: 130px; */
    top: 1475px;
}/*dreffe*/

#output {
    font-family: 'Tinos', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}


#linek {
    font-family: 'Tinos', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#textsc {
  font-variant-caps: small-caps;
}

#ked {
    text-align: right;
    font-variant-caps: small-caps;
}

#tichy {
    display: block;
    /* width: 650px; */
    height: 400px;
    border-style: solid;
    border-color: #7E888F;
    /* width: 50%; */
    /* max-width:100%; */
    /* max-height:100%; */
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
}

/* animations  */

/* changing th colour of the button like divs */
@keyframes col_ch{
    0% {
        background-color: #333;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: #EB360C;     
    }
}/*dreffe*/

/* Used  for hooverng over square imgs on the site */
/* makes them increase in size nine times for time */
/* set up in animation-duration */
@keyframes img_p {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 300px;
        height: 300px;
    }
}
/*dreffe*/
