/*dreffe*/

div.toptext {
    margin-right: 0;
}

/* inne na przyszłość? */
#main { }
#kot { }

#emph {
    font-family: "Piazzolla", serif;
}

#textsc {
    font-family: "Piazzolla", serif;
    font-variant-caps: small-caps;
}

#ked {
    font-family: "Piazzolla", serif;    
    text-align: right;
    font-variant-caps: small-caps;
}

#tichy {
    margin-top: 1px;
    margin-bottom: 1px;
    display: block;
    /* width: 650px; */
    height: 400px;
    border-style: solid;
    border-color: #7E888F;
    /* width: 50%; */
    /* max-width:100%; */
    /* max-height:100%; */
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
}

/*dreffe*/
